<h1>Welcome, future dead person! Please sign in to manage your afterlife!</h1>

<%= form_with url: '/sessions' do |f| %>
    <%= f.label :username %><br>
    <%= f.text_field :username %><br>

    <%= f.label :password %><br>
    <%= f.password_field :password %><br>
    <%= f.submit %>
<% end %>

<br>
<%= link_to "Need to sign up? Do it Here!!", new_member_path %>